<div class="detail" >
           <div class="container" ><img class= item src="{{movie?.poster}}" alt="{{movie?.title}}">
               <span class="titre"> <p>{{movie?.title}}</p></span>
               <div>
                <span class="text-realisateur"> Réalisateur </span>
                <p class="realisateur">{{movie?.directed_by}}</p>
               </div>
             <p class="text-description">Description</p>
               <div class="description">
                <span>{{movie?.description}}</span>
               </div>
            </div>
 </div>


<!--Deuxieme methode-->
<!--<div class="detail" >-->

<!--  <div  ><img class= item src="{{movie?.poster}}" alt="">-->
<!--    <span class="titre"> <p>{{movie?.title}}</p></span>-->
<!--    <div>-->
<!--      <p>Realisateur </p>-->
<!--      <p>{{movie?.directed_by}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <P>Description</P>-->
<!--      {{movie?.description}}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

